{% extends "base2.html.twig" %}
 {% block home %}

   <!-- Content Wrapper. Contains page content -->
   <div class="content-wrapper">
     <!-- Content Header (Page header) -->
     <section class="content-header">
       <h1>
         <a href="{{path("Readeve")}}">
           <i class="fa fa-pie-chart"></i><span>Evenement</span>
         </a>         <a href="{{path("recherche")}}">
           <i class="fa fa-files-o"></i><span>Chercher</span>
         </a>
         </a>         <a href="{{path("indexxx")}}">
           <i class="fa fa-files-o"></i><span>STAT</span>
         </a>




         <small></small>
       </h1>
       <ol class="breadcrumb">
         <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
         <li class="active">Evenement</li>
       </ol>

         {{ form_start(form) }}
       <center>


         <img src="{{ asset ("dist/img/a2.png")}}" ><br><br><br>


         <table border="0">
           <tr>
             <td> nomEvenement  </td><td> {{ form_widget(form.nomEvenement ) }}</td></tr>

           <td> datedebut: </td><td> {{ form_widget(form.dateDebut) }}</td></tr>


           <tr> <td> dateFin:</td><td> {{ form_widget(form.dateFin) }} </td></tr>
           <tr> <td>description: </td><td>{{ form_widget(form.description) }} </td></tr>
           <tr> <td>nbr_cado: </td><td>{{ form_widget(form.nbrcado) }} </td></tr>

             <td></td>

             <td><input type="submit" name="ajouter"  class="btn btn-primary btn-block margin-bottom" onclick="traitement()">  </td>
           </tr>


           <a href="{{path("Readeve")}}">
           </a>

         </table>
       </center>

         {{ form_end(form) }}
     </section>

     <!-- Main content -->

     <!-- /.content -->
   </div>
   <!-- /.content-wrapper -->
 {% endblock %}