{% extends "base2.html.twig" %}
 {% block home %}

   <!-- Content Wrapper. Contains page content -->
   <div class="content-wrapper">
     <!-- Content Header (Page header) -->
     <section class="content-header">
       <h1>
         Mes Categories

       </h1>
       <ol class="breadcrumb">
         <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
         <li class="active">Mailbox</li>
       </ol>
     </section>

     <!-- Main content -->
     <section class="content">



       <!-- /.col -->
       <div class="col-md-14">
         <div class="box box-primary">
           <div class="box-header with-border">
             <h3 class="box-title"> <a href="{{ path("ajouterCategorieBO") }}" class="btn btn-primary btn-block margin-bottom">Ajouter</a> </h3>


             <div class="box-tools pull-right">
               <div class="has-feedback">
                 <input type="text" class="form-control input-sm" placeholder="Recherche Produit">
                 <span class="glyphicon glyphicon-search form-control-feedback"></span>
               </div>
             </div>
             <!-- /.box-tools -->
           </div>
           <!-- /.box-header -->
           <div class="box-body no-padding">
             <div class="table-responsive mailbox-messages">
               <table class="table table-hover table-striped">
                 <tbody>
                 <td colspan="1" class="mailbox-name"><a><b>Actions </b></a></td>
                 <td class="mailbox-name"><a><b>Nom</b></a></td>
                 <td class="mailbox-name"><a><b>Type</b></a></td>
                 <td class="mailbox-name"><a><b>Description</b></a></td>
                 <td class="mailbox-name"><a><b>Date du Modification</b></a></td>
                          {% for c in categorie %}
                 <tr>
                   <td>
                     <a type="button" class="btn btn-default btn-sm" href="{{path('ModifierCategorieBO',{'id':c.id})}}">
                       <i class="fa fa-refresh"></i></a>

                     <a type="button" class="btn btn-default btn-sm" href="{{path('SupprimerCategorieBO',{'id':c.id})}}">
                       <i class="fa fa-trash-o"></i>
                     </a>
                   </td>
                   <td class="mailbox-name"><a >{{ c.nom }}</a></td>
                   <td class="mailbox-subject"><b>{{ c.type }}</b>    </td>
                   <td class="mailbox-subject">{{ c.description }}</td>
                   <td class="mailbox-subject">{{ c.updatedAt | date('Y-m-d') }}</td>
                 </tr>

                          {% endfor %}
                 </tbody>
               </table>
               <!-- /.table -->
             </div>
             <!-- /.mail-box-messages -->
           </div>
           <!-- /.box-body -->
           <div class="box-footer no-padding">
             <div class="mailbox-controls">
               <!-- Check all button -->

               <!-- /.btn-group -->

               <!-- /.pull-right -->
             </div>
           </div>
         </div>
         <!-- /. box -->
       </div>
       <!-- /.col -->

       <!-- /.row -->
     </section>
     <!-- /.content -->
   </div>
   <!-- /.content-wrapper -->
 {% endblock %}